<!-- Navigation -->
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="http://brunch.io/">
                    Brunch
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <ul class="right">
            <li class="has-button">
                <a class="small button" href="/signin">Sign in</a>
            </li>
        </ul>
    </section>
</nav>
<!-- End Navigation -->


<div class="row">
    <div class="large-12 columns">
        <div id="content" class="container"></div>
    </div>
</div>

<!-- Footer -->
<hr>
<footer class="row">
    <div class="large-12 columns">
        <div id="footer" class="container"></div>
    </div>
</footer>
<!-- End Footer -->
