<h3 class="form-signin-heading">Please sign in</h3>
<form>
    <div class="row collapse">
        <div class="large-2 columns">
            <label class="inline">username</label>
        </div>
        <div class="large-10 columns">
            <input type="text" placeholder="username" autofocus>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns">
            <label class="inline"> password</label>
        </div>
        <div class="large-10 columns">
            <input type="text" placeholder="passowrd">
        </div>
    </div>
    <button type="submit" class="radius button">Submit</button>
</form>